nav{
    color: blue;
    
}
div nav ul{
    color: brown;
    justify-content: space-around;
    display: flex;

}
   
    img{
    height: 900px;
    width: 1500px;
}
h2{
    justify-content: center;
    display: flex;

}

.container{
   display: flex;
   justify-content: space-around;
}
    
    
    
